
@mixin flex{
   display:flex;
   justify-content:center;

}

main{
    min-height:100vh;
    background:white;
     
    padding:5% 15% 5% 15%;
    flex-wrap:wrap;
    @include flex;
}
.day{
  min-width:6.6em;
  height:9em;
  margin:2em;
  background:linear-gradient(to top, #2513ca,#26098d);
  box-shadow:0em 0.1em 0em 0.1em #120994;
  color:white;
  font-family:"Lato";
}
.race{
    background:linear-gradient(to top, #ee1212,#aa1212);
    box-shadow:0em 0.1em 0em 0.1em #a80606;
}
.recov{
    background:linear-gradient(to top, #64b91e,#2c6902);
    box-shadow:0em 0.1em 0em 0.1em #058a05;
}
.day h1{
    font-size:2.2em;
    text-align:center;
}
.day h2{
    font-size:1.1em;
    text-align:center;
}