<main>
<article>
 <h2>Zawody przełajowe na 1250m</h2>
 <h4>10/10/19</h4>
 <p>
    Ta zakładka będzie miałą znaczenie kiedy zacznę biegać półmaratony i maratony bardzo często, a więc najpewniej za kilka lat.
    </p>

</article>
<section>
  <div class="setting">
  <select>
    <option value="" selected disabled hidden>Rok</option>
      <option value="d9">2019</option>
      <option value="dd">2020</option>
  </select>
  <select>
    <option value="" selected disabled hidden>Miesiąc</option>
    <option value="st">Styczeń</option>
    <option value="lt">Luty</option>
    <option value="mr">Marzec</option>
    <option value="kw">Kwiecień</option>
    <option value="ma">Maj</option>
    <option value="cz">Czerwiec</option>
    <option value="li">Lipiec</option>
    <option value="sp">Sierpień</option>
    <option value="wr">Wrzesień</option>
    <option value="pa">Październik</option>
    <option value="li">Listopad</option>
    <option value="gr">Grudzień</option>
</select>
<select>
        <option value="" selected disabled hidden>Dystans</option>
        <option value="f">1500m</option>
        <option value="s">5km</option>
        <option value="t">10km</option>
        <option value="f">półmaraton</option>
        <option value="f">przełajowy</option>
    </select>
  </div>
  <div class="races">
        <div class="day"><h1>25</h1><h2>Październik</h2></div>
        <div class="day"><h1>16</h1><h2>Październik</h2></div>
        <div class="day"><h1>9</h1><h2>Październik</h2></div>
  </div>
</section>
</main>
