<div class="post">
<header>
    <h1>6K</h1>
    <h2>28:19</h2>
</header>
<section>
    <p>
            Poniedziałek. Pierwszy bieg w tym tygodniu, kontynuuję 35km na tydzień.
            6 dni pod rząd bez dnia odpoczynku, zaczynam odczuwać zmęczenie.
            Jutro dzień wolny od biegania. Zdecydowanie chciałbym też spróbować przebiec w tym tygodniu rekordowe 5km.
                 
    </p>
    <span>Read more</span>
</section>
</div>
<div class="post">
        <header>
            <h1>6K</h1>
            <h2>41:14</h2>
        </header>
        <section>
            <p>
                   Ostatni bieg tygodnia, podsumowując przebiegłem ponad 37km w tym tygodniu,
                   a więc nieco ponad 35km jakie miałem przebiec. Wczoraj impreza, ale jednak jakoś zmusiłem się do wyjścia 
                   na zawnątrz. Od paru dni pogoda dopisuje, a więc biega się przyjemnie.
                         
            </p>
            <span>Read more</span>
        </section>
        </div>
        <div class="post">
                <header>
                    <h1>10K</h1>
                    <h2>4:17</h2>
                </header>
                <section>
                    <p>
                            Sobotni długi bieg. Zawsze dłuższy dystansa biega mi się lepiej, głównym powodem jest pewnie monotonność krótszych biegów, które zawsze biegam 
                            na tej samej trasie. Mając do przebiegnięcia 10km mogę ułożyć sobie ciekawszą trasę, i za każdym razem ją zmieniać.
                    </p>
                    <span>Read more</span>
                </section>
                </div>
                <div class="post">
                        <header>
                            <h1>6K</h1>
                            <h2>27:02</h2>
                        </header>
                        <section>
                            <p>
                                  Moja trasa na 6km jest trochę zbyt górzysta. 85m wzniesienia na odcinku 6km, połowa trasy pod górkę. Czasami wydaje mi się, że długi bieg w sobotę
                                  jest mi dużo łatwiej pobiec, niż tą trasę, którą biegam na codzień.
                                         
                            </p>
                            <span>Read more</span>
                        </section>
                        </div>
                        <div class="post">
                                <header>
                                    <h1>2.75K</h1>
                                    <h2>13:11</h2>
                                </header>
                                <section>
                                    <p>
                                           2 rekordy osobiste na Strava:<br>
                                           1/2 mili w 2:17<br>
                                           400m w 1:02<br>
                                           Po czym spowrotem biegłem bardzo wolnym tempem stąd tak długi czas biegu.
                                           Chciałem się sprawdzić zanim zaczną się chłodniejsze dni.
                                                 
                                    </p>
                                    <span>Read more</span>
                                </section>
                                </div>
