.post{
    width:13%;
    padding:2.7%;
    font-family:Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1{
    font-family:'Graduate';
  font-size:1.3em;
  text-align:center;
  color:rgb(145, 14, 5);
  text-shadow: 0.05em 0.05em 0em rgba(145, 14, 5,0.4);
}
h2{
    font-family:'Graduate';
    font-size:1.1em;
    text-align:center;
    color:rgb(15, 32, 189);
    text-shadow: 0.05em 0.05em 0em rgba(15, 32, 189,0.4);
  }
p{
   font-size:0.9em; 
   text-align:justify;
}
.post:first-child{
    margin-top:-4.5%;
    margin-left:4%;
}
.post:nth-child(2){
    margin-top:-2%;
}
.post:nth-child(4){
    margin-top:2.5%;
}
.post:nth-child(5){
    margin-top:5%;
}
.post span{
    font-family:'Graduate';
    &:hover{
        cursor:pointer;
    }
}