
<ul>
        <li class="logo" routerLink="/" routerLinkActive="active"><img src="assets/logo.png"></li>
        <li routerLink="/cele" routerLinkActive="active">MOJE CELE</li>
        <li>OSTATNIE WYŚCIGI</li>
        <li><a href="https://www.strava.com/athletes/45469024">STRAVA</a></li>
        <li routerLink="/kalendarz" routerLinkActive="active" >TRENINGI</li>
        <input type="text" class="search" placeholder="Szukaj">
        <img class="t" src="assets/twitter.png">
      </ul> 
<router-outlet></router-outlet>
<app-footer></app-footer>      
