main{
    display:flex;
.lista{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    font-family:"Lato",monospace;
.post,.edit{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1em 0 0.6em 0;
    margin-top:1em;
    background:#1f5fa8;
    min-width:20em;
    margin-left:5em;
    color:white;
    border-radius:0.4em;
    h2{
        font-weight:normal;
        font-family:'Lato';
        font-size:1em;
        margin-top:0em;
        line-height:1.2em;
    }
}
.edit{
    background:rgb(24, 20, 77);
    padding:1em 0 1em 0;
    min-width:15em;
    cursor:pointer;
    transition:all 0.2s;
    &:hover{
        transform:scale(0.9);
    }
}


}

.tagi{
    max-width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    input{
    width:9em;
    height:1em;
    border:none;
box-shadow:0em 0em 0.1em 0.1em rgb(177, 177, 177);
font-family:"Lato",monospace;
padding:0.5em;
border-radius:0.3em;
-moz-border-radius:0.3em;
-webkit-border-radius:0.3em;
-ms-border-radius:0.3em;
margin:1em 0 0 1em;

    }
    select{
        margin-top:1em;
        margin-left:1em;
        border:none;
        background:#3465cf;
        color:white;
        padding:0.3em 0.8em 0.3em 0.8em;
        border-radius:0.4em;
    }
    button{
        margin:2em 0em 0em 0.8em;
    }
  }

}
