<h1>Jak szybko mogę biec?</h1>
<p>
   Czy małe opóźnienie z jakim zacząłem biegać, wpłynie mocno na to jakie będą moje najlepsze wyniki?
   Napewno. Ale czy to powstrzyma mnie od biegania? Absolutnie nie. Mam 17 lat. Niemożliwe jest dla mnie dorównanie średnio-dystansowcą, dlatego, że 
   najlepsze wyniki w wyścigach na odległości 1500 m - 5 km uzyskuje się w młodym wieku. Natomiast moim celem jest 10 km, półmaraton i maraton.
   Zdecydowanie chciałbym też pobiec ultramaraton. Na dzień dzisiejszy planem jest zwiększanie przebiegniętych km/tydzień co 3-4 tygodnie o 5 km.
   Zobaczę jak daleko będę wstanie dojść w ciągu roku. Zacząłem biegać <span>17.08.19r.</span>. Po pierwszym tygodniu biegania ledwo przebiegłem 5 km z czasem 24:45. Zobaczmy jak szybko mogę biec. 
</p>