
nav{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    background:linear-gradient(to right, #052fe4,#041faf);
    height:1.8em;
    padding:1em;
    margin-top:0em;
    width:calc( 100% - 2em );
    text-align:center;
}


.left img, .right img{
    margin-top:0.25em;
   height:1.9em;
   width:1.9em;
}
.left img{
    transform:rotate(180deg);
}
.left,.right{
    height:100%;
    position:absolute;
    top:0;
    left:1em;
   display:flex;
   align-items:center;
   color:white;
   font-size:0.7em; 
   font-family:'Lato';
   font-weight:light;
   cursor:pointer;
   transition:all 0.2s;
   &:hover{
       transform:scale(0.96);
   }
}
h3{
    padding-left:1em;
    margin:0;
   
}

.right{
    left:88%;
    h3{
        padding:0;
        padding-right:0.7em;
    }
}

.menu{
  
    font-family:'Lato';
    font-weight:light;
    color:white;
    height:100%;
    padding:0.5em 0em 0.5em 0em;
    display:flex;
    align-items:center;
    justify-content:center;
    width:14em;
    margin:0 auto;
    margin-top:-0.5em;
    transition:all 0.3s;
    cursor:pointer;
    &:hover{
        background:rgba(230,240,255,0.2);
    }
}
.container{
   display:flex;
   width:auto;
   position:relative;
right:0%;
 transition:all 0.8s;
 padding-bottom:50%;
}
main{
    font-family:'Lato';
    font-weight:light;
    min-width:100%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    margin:7em 0 10vh 0;
    opacity:1;
    transition:all 0.5s;

    h2{
       font-size:1.5em;
       padding-bottom:0.5em;
       width:100%;
       text-align:center;  
    }

    h3{
        width:100%;
        text-align:center;
        font-size:0.8em;
        margin-right:1.4em;
        padding-bottom:1em;
        margin-top:-0.4em;
        line-height:1.2em;
    }
    .content{
        width:100%;
        background:#daddeb;
        padding-top:0.5em;
        padding-bottom:3em;
        text-align:center;
    }
    p{
        text-align:justify;
        line-height:1.5em;
        width:38em;
        padding-top:0.2em;
        margin:0 auto;
     
    }

    .distance{
        margin-top:2.5em;
    }
    h5{
        display:flex;
        align-items:center;
       margin-top:4em;
        margin:0 auto;
        width:47em;
    }
    h5>img{
        padding-right:1em;
        align-items:flex-start;
    }
}
figure>img{
    max-width:400px !important;
}
hr{
    border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.158);
      border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    width:100%;
  }

  .hide{
      display:none;
  }
  .sh{
      display:flex;
  }
